#div1 {

    height: 200rem;
    background-color: black;
background-image: url("https://th.bing.com/th/id/R.bb73defe582e194377efb42b9f29e9a8?rik=ajGwrmYHVml79w&pid=ImgRaw&r=0");
background-repeat: no-repeat;
background-size: 336rem 163rem;
}

#div2 {
    width: 170rem;
    height: 100%;
    background-color: rgb(31, 218, 25);
}